extends layout

block content
  header
  .wrapper
    nav
      a(href='index.pug') Home
      a(href='features.pug') Features
    div
      ul
        li.you What do you do?
        li.bot Answer questions
        li.bot Look up songs!
        li.bot Tell jokes
        li.bot Flirt
        li.bot Show you the way
  footer
    | &copy; Morro &amp; Annelies
